<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Specs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SwiftAppUsingCedar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AE5AA6AC1B4C87BC00C2DD6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE5AA6BC1B4C87FA00C2DD6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE5AA6CB1B4C8D1E00C2DD6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE884D8F1B4C38B2008BB3BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE884DA41B4C38B2008BB3BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE884DB81B4C3B94008BB3BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE884DCC1B4C3B94008BB3BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
